.App {
  text-align: center;
}
.App .character {
  border: 1px solid red;
  color: white;
  display: inline-block;
  transition: all 150ms ease-in-out;
}
.App .character:hover {
  color: black;
} /*
.App .character {
  animation-duration: 2.5s;
  animation-play-state: paused;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}
*/
